html, body {
  background-color: #EEE;
  color: #111;
}

.header {
  padding: 5px 5px;
  margin: 0px;
  font-size: 46px;
  font-weight: lighter;
}

.header--accent {
  color: #4EA;
  background-color: #444;
}

.l-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.l-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.l-container {

}

.l-container--narrow {
  flex: 0 0 230px;
}

.l-container--wide {
  flex-grow: 1;
}

.l-container--bright {
  background-color: #EEE;
}

.l-container--dark {
  background-color: #444;
  color: #EEE;
}

.l-container--accent {
  background-color: #4EA;
}

.l-container__article {
  padding-left: 10px;
}

.l-container__textarea {
  width: 80%;
  height: 400px;
}

.category {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category__item {
  padding: 5px 0px;
  margin-bottom: 2px;
  cursor: pointer;
}

.category__item:hover {
  background-color: #999;
}

.category__item--active {
  font-weight: bold;
}

.category__item-content {
  margin-left: 5px;
}

.category__button {
  background-color: #FFF;
  color: #111;
  margin-left: 5px;
  height: 18px;
  border: none;
  border-radius: 3px;
}

.category__button--dark {
  background-color: #444;
  color: #FFF;
}

.category__input {
  margin-left: 5px;
}
