html, body {
  background-color: #EEE;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}

.container {

}

.container--narrow {
  background-color: salmon;
  flex-grow: 1;
}

.container--wide {
  background-color: lightblue;
  flex-grow: 3;
}
